@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    @extend %roboto-400;
    text-transform: uppercase;
    color: $title;
    padding: 0 2px 1px;
  }
  &__list-link:hover{
    @extend %roboto-700;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
  &__list-link--active{
    @extend %roboto-700;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }
  &__num{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -14px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
  &__link + .user-nav__link{
    padding-left: 25px;
  }
}

.footer{
  background-color: $bg;
}

.footer__top{
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &-contact{
    width: 250px;
    margin-right: 50px;
  }
  &-nav{
    width: 170px;
    margin-right: 30px;
  }
  &-item-form{
    max-width: 470px;
  }
  &-logo{
    display: block;
    margin-bottom: 33px;
  }
  &-address,
  &-email,
  &-phone,
  &-link{
    margin-bottom: 10px;
    display: block;
  }
  &__social{
    display: flex;
    margin-top: 30px;
    align-items: center;
  }
  &__social-item + .footer__top__social-item{
    padding-left: 20px;
  }
  &__social-link{
    transition: all .3s;
    path{
      fill: $default;
    }
  }
  &__social-link:hover{
    path{
      fill: $accent;
    }
  }
  &-title{
    @extend %roboto-500;
    font-size: 22px;
    color: $title;
    margin-bottom: 40px;
    line-height: 1;
  }
  &-text{
    margin-bottom: 30px;
  }
  &-form__input{
    border: none;
    max-width: 320px;
    width: 100%;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192,192,192,0.3);
    &::placeholder{
      color: $default;
      font-size: 16px;
      line-height: 36px;
    }
  }
  &-form__btn{
    border: none;
    background-color: $accent;
    color: #fff;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 12px 20px;
    box-shadow: 0px 7px 20px 0px rgba(255,17,48,0.3);
    cursor: pointer;
  }
  }
  .footer__bottom{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &-payment__img{
      display: inline;
      margin-left: 20px;
      vertical-align: middle
    }
  }















@import "media";
