<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/shop.min.css" />
    <title>Document</title>
  </head>
  <body>
    
  {% include 'app/modules/_header/_header.html' %}

    <main class="main">
      {% include 'app/modules/_top/_top.html' %}
      <section class="shop">
        <div class="container">
          <div class="shop__inner">
            <div class="shop__filters filter">
              <div class="filter-search filter__item">
                <h3 class="filter__title">Search</h3>
                <form class="filter-search__form" action="#">
                  <input class="filter-search__input" type="text" placeholder="Search your keyword....">
                  <button class="filter-search__btn" type="submit">
                    <img src="images/icons/shop-search.svg" alt="shop search icon">
                  </button>
                </form>
              </div>
              <div class="filter-price filter__item">
                <h3 class="filter__title">Price Filter</h3>
                <form action="#" class="filter-price__form">
                  <input type="text" class="filter-price__input" data-min="0"
                  data-max="999"
                  data-from="200"
                  data-to="800">
                  <label class="filter-price__label">
                    <span>
                      Price:
                      $<span class="filter-price__from"></span> -
                      $<span class="filter-price__to"></span>
                    </span>
                    <button class="filter-price__btn" type="submit">Filter</button>
                  </label>
                </form>
              </div>
              <div class="filter-color filter__item">
                <h3 class="filter__title">Color Filter</h3>
                <form class="filter-color__form" action="#">
                  <label class="filter-color__label">
                    <span class="filter-color__text">Blue (15)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--blue"></span>
                    </div>
                  </label>
                  <label class="filter-color__label">
                    <span class="filter-color__text">Red (09)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--red"></span>
                    </div>
                  </label>
                  <label class="filter-color__label">
                    <span class="filter-color__text">Green (28)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--green"></span>
                    </div>
                  </label>
                  <label class="filter-color__label">
                    <span class="filter-color__text">Orange (11)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--orange"></span>
                    </div>
                  </label>
                  <label class="filter-color__label">
                    <span class="filter-color__text">Black (05)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--black"></span>
                    </div>
                  </label>
                  <label class="filter-color__label">
                    <span class="filter-color__text">Purple (21)</span>
                    <div class="filter-color__box">
                      <input class="filter-color__input" type="checkbox">
                      <span class="filter-color__checkbox filter-color__checkbox--purple"></span>
                    </div>
                  </label>
                </form>
              </div>
              <div class="filter-size filter__item">
                <h3 class="filter__title">Size Filter</h3>
                <form action="#" class="filter-size__form">
                  <label class="filter-size__label">
                    <input type="checkbox" class="filter-size__input">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text">X-small</span>
                  </label>
                  <label class="filter-size__label">
                    <input type="checkbox" class="filter-size__input">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text">Small</span>
                  </label>
                  <label class="filter-size__label">
                    <input type="checkbox" class="filter-size__input">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text">Medium</span>
                  </label>
                  <label class="filter-size__label">
                    <input type="checkbox" class="filter-size__input">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text">Large</span>
                  </label>
                  <label class="filter-size__label">
                    <input type="checkbox" class="filter-size__input">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text">XXL</span>
                  </label>
                </form>
              </div>
              <div class="filter-category filter__item">
                <h3 class="filter__title">CATEGORY</h3>
                <form action="#" class="filter-category__form">
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input">
                    <div class="filter-category__checkbox">
                      <span>Woman</span>
                      <span>48</span>
                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input">
                    <div class="filter-category__checkbox">
                      <span>Man</span>
                      <span>30</span>
                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input" checked>
                    <div class="filter-category__checkbox">
                      <span>Sale Products</span>
                      <span>92</span>
                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input">
                    <div class="filter-category__checkbox">
                      <span>Fashion</span>
                      <span>121</span>
                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input">
                    <div class="filter-category__checkbox">
                      <span>Hot Dresses</span>
                      <span>52</span>
                    </div>
                  </label>
                  <label class="filter-category__label">
                    <input type="checkbox" class="filter-category__input">
                    <div class="filter-category__checkbox">
                      <span>Accessories</span>
                      <span>88</span>
                    </div>
                  </label>
                </form>
              </div>
              <div class="filter-popular filter__item">
                <h3 class="filter__title">Popular Tags</h3>
                <form action="#" class="filter-popular__form">
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox">
                    <span class="filter-popular__checkbox">Sweetshirt</span>
                  </label>
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox" checked>
                    <span class="filter-popular__checkbox">Man Accessories</span>
                  </label>
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox">
                    <span class="filter-popular__checkbox">Fashion</span>
                  </label>
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox">
                    <span class="filter-popular__checkbox">Polo</span>
                  </label>
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox">
                    <span class="filter-popular__checkbox">T-Shirt</span>
                  </label>
                  <label class="filter-popular__label">
                    <input class="filter-popular__input" type="checkbox">
                    <span class="filter-popular__checkbox">Jewellery</span>
                  </label>
                </form>
              </div>
            </div>
            <div class="shop-content">
              <div class="shop-content__filter">
                <div class="shop-content__filter-buttons">
                  <span>View</span>
                  <button class="shop-content__filter-btn shop-content__filter-btn--active button-grid">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><g><g><path fill="#8d8d8d" d="M0 3.75h3.75V0H0zM5.625 15h3.75v-3.75h-3.75zM0 15h3.75v-3.75H0zm0-5.625h3.75v-3.75H0zm5.625 0h3.75v-3.75h-3.75zM11.25 0v3.75H15V0zM5.625 3.75h3.75V0h-3.75zm5.625 5.625H15v-3.75h-3.75zm0 5.625H15v-3.75h-3.75z"/></g></g></svg>
                  </button>
                  <button class="shop-content__filter-btn button-list"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15"><g><g><path fill="#8d8d8d" d="M.007 0h4.422v4.172H.007zm5.828 0h14.159v4.172H5.835zM.007 5.413h4.422v4.172H.007zm5.828 0h14.159v4.172H5.835zM.007 10.828h4.422v4.171H.007zm5.828 0h14.159v4.171H5.835z"/></g></g></svg></button>
                </div>
                <div class="shop-content__filter-selects">
                  <form class="shop-content__filter-form" action="#">
                  <select class="shop-content__filter-sort select-style">
                    <option value="">Sort By Default</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select>
                  <select class="shop-content__filter-show select-style">
                    <option value="">Show 9</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select>
                </form>
                </div>
              </div>
            <div class="shop-content__inner">
              <div class="products__item">
                <div class="products__item-img__box">
                  <img src="images/products/1.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
            </div>
            <div class="products__item products__item--sale">
              <div class="products__item-img__box">
                <img src="images/products/2.jpg" alt="product">
              <div class="products__item-link__box">
                <a href="#" class="products__item-link">
                  <img src="images/icons/search.svg" alt="search icon">
                </a>
                <a href="#" class="products__item-link products__item-link--line">
                  <img src="images/icons/bag.svg" alt="bag icon">
                </a>
                <a href="#" class="products__item-link">
                  <img src="images/icons/like.svg" alt="like icon">
                </a>
              </div>
            </div>
            <div class="products__item-wrapper__box">
              <div class="products__item-box">
                <div class="star" data-rateyo-rating="4"></div>
                  <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                  <div class="products__item-price">
                    <div class="products__item-new__price">$34.00</div>
                    <div class="products__item-old__price">$27.00</div>
                  </div>
                  <div class="products__item-content__box">
                    <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                    <button class="products__item-btn">Add to cart</button>
                  </div>
              </div>
            </div>
              </div>
              <div class="products__item">
                <div class="products__item-img__box">
                  <img src="images/products/3.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item products__item--sale">
                <div class="products__item-img__box">
                  <img src="images/products/4.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="5"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item">
                <div class="products__item-img__box">
                  <img src="images/products/5.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item products__item--sale">
                <div class="products__item-img__box">
                  <img src="images/products/6.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item">
                <div class="products__item-img__box">
                  <img src="images/products/3.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item products__item--sale">
                <div class="products__item-img__box">
                  <img src="images/products/4.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="5"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item">
                <div class="products__item-img__box">
                  <img src="images/products/5.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
              <div class="products__item products__item--sale">
                <div class="products__item-img__box">
                  <img src="images/products/6.jpg" alt="product">
                <div class="products__item-link__box">
                  <a href="#" class="products__item-link">
                    <img src="images/icons/search.svg" alt="search icon">
                  </a>
                  <a href="#" class="products__item-link products__item-link--line">
                    <img src="images/icons/bag.svg" alt="bag icon">
                  </a>
                  <a href="#" class="products__item-link">
                    <img src="images/icons/like.svg" alt="like icon">
                  </a>
                </div>
              </div>
              <div class="products__item-wrapper__box">
                <div class="products__item-box">
                  <div class="star" data-rateyo-rating="4"></div>
                    <h4 class="products__item-title">White Polo Men’s T-Shirt</h4>
                    <div class="products__item-price">
                      <div class="products__item-new__price">$34.00</div>
                      <div class="products__item-old__price">$27.00</div>
                    </div>
                    <div class="products__item-content__box">
                      <p class="products__item-text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                      <button class="products__item-btn">Add to cart</button>
                    </div>
                </div>
              </div>
              </div>
            </div>
            <div class="pagination">
              <a class="pagination__prev pagination__arrows" href="#">
                PREVIOUS
              </a>
              <ul class="pagination__list">
                <li class="pagination__item">
                  <a href="#" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                  <a href="#" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                  <a href="#" class="pagination__link pagination__link--active">3</a>
                </li>
                <li class="pagination__item">
                  <span href="#" class="pagination__link">....</span>
                </li>
                <li class="pagination__item">
                  <a href="#" class="pagination__link">10</a>
                </li>
              </ul>
              <a class="pagination__next pagination__arrows" href="#">
                NEXT
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include 'app/modules/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>
</html>
