.promo{
  background-image: url(../images/promo/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 160px 0;
  text-align: center;
  &__inner{
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
  &__subtitle{
    font-size: 22px;
    text-transform: uppercase;
    color: $accent;
  }
  &__link{
    @extend %roboto-400;
    color: $title;
    letter-spacing: 0.2em;
    border: 1px solid $accent;
    padding: 20px 33px;
  }
  &__clock{
    margin: 40px 0 60px;
    display: flex;
    justify-content: space-between;
    &-item{
      background-color: #fff;
      box-shadow: 0px 10px 40px 0px rgba(187,187,187,0.3);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
       span{

        @extend %roboto-700;
        font-size: 48px;
        color: $title;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 620px){
  .promo{
    padding: 60px 0;
    &__clock{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__clock-item{
      margin: 20px 36px;
    }
  }
}
@media (max-width: 450px){
  .promo{
    &__subtitle{
      font-size: 18px;
    }
    &__clock{
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__clock-item{
      margin: 8px;
    }
  }
}